*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html{
  height: 100%;
  width: 100%;
}

/*header dan navigasi*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color : #182747;
  font-family: 'Poppins', sans-serif;
}

.webname {
  font-size: 2.0rem;
  margin: .2rem;
  color: whitesmoke;
}

.navbar-list ul{
  margin : 0;
  padding: 0;
  display: flex;
}

.navbar-list li{
  list-style: none;
}

.navbar-list li a {
  color : rgb(172, 112, 136);
  text-decoration: none;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 20px;
  display:block;
}

.navbar-list li:hover{
  background-color: bisque;
}

.hamburger-toggle{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display : none;
  flex-direction: column;
  justify-content: space-between;
  width: 44px;
  height: 44px;
  font-size: 32px;
  color: white;
}

.hamburger-toggle .bar{
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/*hero-section*/
.hero-image{
  min-height: 700px;
  background: url(/src/public/images/heros/hero-image_2.jpg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 250px;
  width: 100%;
  font-family: 'Merriweather', serif;
  color: #C21010;
  -webkit-text-stroke: 2px black;
  font-weight: 900 bold;
  text-transform: uppercase;
}

.hero-text h1{
  font-size: 80px;
  font-weight: 700 bold;
}

.cen {
  font-size: 40px;
  font-weight: 700 bold;
}

main {
  background-color: #FFE3E1;
}

/*skip ke kontent button*/

.skip-button {
  padding: 8px;
  top: 110px;
  left: -10000px;;
  z-index: 100;
  height: 44px;
  overflow: hidden;
}

.skip-button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.skip-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.skip-button:hover {
  background-color: #2c974b;
}

.skip-button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
  left: 0;
}

.skip-button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.skip-button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


/*daftar restaurant*/
.container {
  padding-top: 20px;
  width: 80%;
  padding-bottom: 20px;
  margin: auto;
}

.restaurant-division {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-radius: 10px;
}

.card-resto {
  background-color: #E1CEB5;
  border-radius: 15px;
  box-shadow: 0 15px 25px 0 rgba(121, 135, 119, 0.5);
}

.card-resto:hover {
  transition: all 1.0s;
  transform: translate3D(5px, -20px, 10px);
}

.resto-image {
  width: 100%;
}

.rating {
  color: yellow;
}

.resto-text {
  padding: 20px;
  text-align: center;
}

.resto-city {
  font-weight: bolder;
  color: black;
}

.resto-title:hover {
  cursor: pointer;
}

.resto-description {
  font-size: 14px;
  margin: 15px 0;
}

.truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

/*footer*/
footer {
  margin-top: auto;
  grid-column: 1/-1;
  padding: 30px 0;
  background: rgb(32, 83, 117);
}
footer p{
  color: whitesmoke;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

/*media queries*/
@media (max-device-width: 500px){
  .hamburger-toggle{
      display: flex;
  }
  
  .navbar-list{
      display: none;
      width: 100%;
  }

  .navbar{
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      overflow: hidden;
  }
  .navbar-list ul{
      flex-direction: column;
      width: 100%;
  }

  .navbar-list li {
      text-align: center;
  }

  .navbar-list li a{
      padding: .8rem 1.5rem;
  }

  .navbar-list.active{
      display: flex;
  }
  .hero-image {
    min-height: 350px;
    overflow: hidden;
  }

  .hero-text{
    margin-top: 100px;
  }

  .hero-text h1{
    font-size: 40px;
    font-weight: 700 bold;
    text-align: center;
  }
  
  .cen {
    font-size: 28px;
    font-weight: 700 bold;
    text-align: center;
  }

  footer p{
    font-size: 18px;
  }

}

@media screen and (min-device-width: 320px) and (max-device-width: 640px) {


  .restaurant-division {
    grid-template-columns: 1fr;
  }

  .hamburger-toggle{
    display: flex;
}

.navbar-list{
    display: none;
    width: 100%;
}


.navbar{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
}

.navbar-list ul{
    flex-direction: column;
}

.navbar-list li {
    text-align: center;
}

.navbar-list li a{
    padding: .8rem 1.5rem;
}

.navbar-list.active{
    display: flex;
}

.hero-image {
  min-height: 350px;
  overflow: hidden;
}

.hero-text{
  margin-top: 100px;
}

.hero-text h1{
  font-size: 40px;
  font-weight: 700 bold;
  text-align: center;
}

.cen {
  font-size: 28px;
  font-weight: 700 bold;
  text-align: center;
}

footer p{
  font-size: 18px;
}

}

@media screen and (max-device-width: 320px) {
  .restaurant-division {
    grid-template-columns: 1fr;
  }

  .hamburger-toggle{
    display: flex;
}

.navbar-list{
    display: none;
    width: 100%;
}

.navbar{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
}

.navbar-list ul{
    flex-direction: column;
    width: 100%;
}

.navbar-list li {
    text-align: center;
}

.navbar-list li a{
    padding: .8rem 1.5rem;
}

.navbar-list.active{
    display: flex;
}

.hero-image {
  min-height: 250px;
  overflow: hidden;
}

.hero-text{
  margin-top: 100px;
}

.hero-text h1{
  font-size: 40px;
  font-weight: 700 bold;
  text-align: center;
}

.cen {
  font-size: 28px;
  font-weight: 700 bold;
  text-align: center;
}

footer p{
  font-size: 18px;
}

}

@media screen and (min-device-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .restaurant-division {
        grid-template-columns: repeat(3, 1fr);
    }    
}