<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shokudou</title>
</head>
<body>
  <a href="#indonesian-restaurant" class="skip-button" id="skip">Menuju ke konten</a>
  <!--header dan navigasi-->
  <header>
    <nav class="navbar">
        <div class="webname" tabindex="0"><h1>Shokudou</h1></div>
        <a id="hamburger" href="#" class="hamburger-toggle" aria-label="menu-navigation">☰</a>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-list">
                <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Favourite</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="https://www.linkedin.com/in/renaldy-therry/">About</a></li>
                </ul>
        </div>
    </nav>
  </header>

  <main>
  <!--hero-image-->
  <div class="hero-image">
    <div class="hero-text">
        <h1 tabindex="0"><span>Shokudou</span></h1>
        <span class="cen">Home Of Restaurants</span>
    </div>
   </div>

   

  <!--daftar restoran-->
   <div class="container">
    <section class="restaurant-record" id="indonesian-restaurant">
        <div class="restaurant-division" id="list-restaurant"></div>
    </section>
   </div>
  </main>

   <!-- Footer Section -->
   <footer tabindex="0">
    <p tabindex="0">
        Shokudou, Copyright © 2022 All Rights Reserved 
    </p>
</footer>
</body>
</html>